/__pychache__
*.pyc
figure_\[0]\[0].png
figure_\[0]\[1].png
figure_\[0]\[2].png
figure_\[0]\[3].png
figure_\[0]\[4].png
figure_\[0]\[5].png
figure_\[0]\[6].png
figure_\[0]\[7].png
figure_\[0]\[8].png
figure_\[0]\[9].png
figure_\[0]\[10].png
figure_\[0]\[11].png
figure_\[0]\[12].png
figure_\[0]\[13].png
figure_\[0]\[14].png
figure_\[0]\[15].png
figure_\[0]\[16].png
figure_\[0]\[17].png
figure_\[0]\[18].png
figure_\[0]\[19].png
figure_\[0]\[20].png
figure_\[0]\[21].png
figure_\[0]\[22].png
figure_\[0]\[23].png
figure_\[0]\[24].png
figure_\[0]\[25].png
figure_\[0]\[26].png
figure_\[0]\[27].png
figure_\[0]\[28].png
figure_\[0]\[29].png
figure_\[0]\[30].png
figure_\[0]\[31].png
figure_\[0]\[32].png
figure_\[0]\[33].png
figure_\[0]\[34].png
figure_\[0]\[35].png
figure_\[0]\[36].png
figure_\[0]\[37].png
figure_\[0]\[38].png
figure_\[0]\[39].png
figure_\[0]\[40].png
figure_\[0]\[41].png
figure_\[4]\[0].png
figure_\[4]\[1].png
figure_\[4]\[2].png
figure_\[4]\[3].png
figure_\[4]\[4].png
figure_\[4]\[5].png
figure_\[4]\[6].png
figure_\[4]\[7].png
figure_\[4]\[8].png
figure_\[4]\[9].png
figure_\[4]\[10].png
figure_\[4]\[11].png
figure_\[4]\[12].png
figure_\[4]\[13].png
figure_\[4]\[14].png
figure_\[4]\[15].png
figure_\[4]\[16].png
figure_\[4]\[17].png
figure_\[4]\[18].png
figure_\[4]\[19].png
figure_\[4]\[20].png
figure_\[4]\[21].png
figure_\[4]\[22].png
figure_\[axial_layer]\[0].png
figure_\[axial_layer]\[1].png
figure_\[axial_layer]\[2].png
figure_\[axial_layer]\[3].png
figure_\[axial_layer]\[4].png
figure_\[axial_layer]\[5].png
figure_\[axial_layer]\[6].png
figure_\[axial_layer]\[7].png
figure_\[axial_layer]\[8].png
figure_\[axial_layer]\[9].png
figure_\[axial_layer]\[10].png
figure_\[axial_layer]\[11].png
figure_\[axial_layer]\[12].png
figure_\[axial_layer]\[13].png
figure_\[axial_layer]\[14].png
figure_\[axial_layer]\[15].png
figure_\[axial_layer]\[16].png
figure_\[axial_layer]\[17].png
figure_\[axial_layer]\[18].png
figure_\[axial_layer]\[19].png
figure_\[axial_layer]\[20].png
figure_\[axial_layer]\[21].png
figure_\[axial_layer]\[22].png
figure_\[axial_layer]\[23].png
figure_\[axial_layer]\[24].png
figure_\[axial_layer]\[25].png
figure_\[axial_layer]\[26].png
figure_\[axial_layer]\[27].png
figure_\[axial_layer]\[28].png
figure_\[axial_layer]\[29].png
figure_\[axial_layer]\[30].png
figure_\[axial_layer]\[31].png
